h1 {
  color: red;
  text-align: center;
}
h2 {
  color: lightblue;
}
img {
  width: 320px;
  height: 200px;
  margin-top: 70px;
}
li {
  list-style: none;
}
.sadrzaj {
  margin-left: 170px;
}
.sadrzaj .sadrzaj-1 {
  display: inline-table;
  align-items: center;
}
p {
  width: 300px;
  color: blue;
}
.sadrzaj .sadrzaj-2 {
  display: inline-table;
  align-items: center;
}
.sadrzaj .sadrzaj-3 {
  display: inline-table;
  align-items: center;
}
